*{
	font-family: Arial;
}

*:focus {
    outline: none;
}

a:link, a:visited, a:active {
    text-decoration:none;
}

article img{
	width: 100%;
	height: auto;
}

/*
Menu Full Page
*/
.menu-fullpage{
	display: none;
	background-color: #0093D2;
	min-height: calc(100vh - 95px);
}

.menu-fullpage.abierto{
	min-height: calc(100vh - 95px);
}

.menu-fullpage .container{
	padding: 0;
}

.menu-fullpage .row{
	margin: 0;
}

.menu-fullpage .col-12{
	padding: 0;
}

.menu-fullpage form{
	position: relative;
	margin: 30px 15px 50px 15px;
}

.menu-fullpage img{
	position: absolute;
	width: 20px;
    height: auto;
    top: 10px;
    margin-left: 15px;
}

.menu-fullpage input{
	background: transparent;
    border: 1px solid #fff;
    border-radius: 25px;
    color: #fff;
    font-weight: 400;
    width: 100%;
    font-size: 1.1em;
    text-align: center;
    padding: 5px 15px 5px 40px;
}

.menu-fullpage input::placeholder{
	color:#fff;
}

.menu-fullpage .menu-movil ul{
	padding-left: 0;
}

.menu-fullpage .menu-movil li{
	border-top: 1px solid #fff;
	padding: 0 15px;
	list-style: none;
	position: relative;
}

.menu-fullpage .menu-movil li:last-child{
	border-bottom: 1px solid #fff;
}

.menu-fullpage .menu-movil li a{
	color:#fff;
	padding: 10px 0;
    display: inline-block;
}

.menu-fullpage .menu-movil .submenu{
    display: none;
}

.menu-fullpage .menu-movil .submenu.abierto{
	display: block;
}

.menu-fullpage .menu-movil li .submenu{
	margin:0 -15px;
}

.menu-fullpage .menu-movil li .submenu li{
	background-color: #fff;
	border-bottom: 1px solid #C7C7C7;
	padding-left: 30px;
}

.menu-fullpage .menu-movil li .submenu li .submenu{
}

.menu-fullpage .menu-movil li .submenu li .submenu li{
	border-bottom: none;
}

.menu-fullpage .menu-movil li .submenu li a{
	color: #2C4E7E;
}

.menu-fullpage .menu-movil li .submenu li:last-child{
	border-bottom: none;
}

.menu-fullpage .portal-transparencia{
    margin:30px 0 0 0;
    text-align: center;
}

.menu-fullpage .portal-transparencia a{
    display: inline-flex;
    align-items: center;
    font-size: 1em;
    text-align: center;
    color: #fff;
}

.menu-fullpage .portal-transparencia a:after {
    content: '';
    background-image: url(/img/lupa-portal.svg);
    background-size: cover;
    width: 15px;
    height: 15px;
    margin-left: 5px;
}

.menu-movil .desplegable{
	margin: 10px 0;
	background-image: url(/img/flecha-desplegable.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 27px;
    height: 20px;
    display: inline-block;
    transform: rotate(90deg);
    float: right;
}

.cabecera nav li{
	position: relative;
}

.cabecera nav ul li:hover > ul.submenu{
	/*display: inline-grid;*/
	transform: scaleY(1);
}

.cabecera nav ul.submenu > li a{
	color: #fff;
}

.cabecera nav ul.submenu{
	position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    min-width: 200px;
    text-align: left;
    display: inline-grid;
    border-radius: 0 0 5px 5px;
    transform: scaleY(0);
    transform-origin: top;
    transition: all .5s;
}

.cabecera nav ul.submenu li{
	background-color: #157FCE;
    margin: 0 !important;
    border-bottom: 1px solid #ffffff75;
    padding: 0;
}

.cabecera nav ul.submenu li.dropdown:after{
    content: '';
    background: url(../img/flecha-desplegable.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 10px;
    height: 10px;
    display: inline-block;
    float: right;
    margin-top: 5px;
}

.cabecera nav ul.submenu li:hover{
	background-color: #fff;
	color: #157FCE;
}

.cabecera nav ul.submenu li:hover a{
	color: #157FCE;
}

.cabecera nav ul.submenu li:last-child{
	border-radius: 0 0 5px 5px;
	border-bottom: none;
    height: fit-content;
}

.cabecera nav ul.submenu li a{
    font-weight: 300;
    padding: .5em 1.5em;
    min-width: 200px;
    display: block;
    height: auto;
}

.cabecera nav ul.submenu  ul.submenu{
	top: 0;
	left: 100%;
	padding-top: 0;
}

.cabecera nav ul.submenu  ul.submenu li{
	background-color: #fff;
}

.cabecera nav ul.submenu  ul.submenu li:hover{
	background-color: #0969B1;
}

.cabecera nav ul.submenu  ul.submenu li a{
	color: #0969B1;
}

.cabecera nav ul.submenu  ul.submenu li:hover a{
	color: #fff;
}

/*
Cabecera
*/
.precabecera{
	background: #004d81;
	color: #fff;
	font-family: Aleo;
	font-style: normal;
	font-weight: bold;
	padding: 5px 0;
}

.precabecera a{
	color: #fff;
	display: inline-block;
}

.precabecera .texto{
	font-size: 10px;
	display: inline;
}

.precabecera .numero{
	font-size: 13px;
	display: inline;
}

.precabecera .aquafono{
	display: inline;
	padding-right: 15px;
	border-right: 1px solid #fff;
}

.precabecera .social-sepadal{
	display: inline;
	padding-left: 15px;
}

.precabecera .portal-transparencia a{
	display: inline-flex;
    align-items: center;
    font-size: .9em;
}

.precabecera .portal-transparencia a:after{
    content: '';
    background-image: url(/img/lupa-portal.svg);
    background-size: cover;
    width: 15px;
    height: 15px;
    margin-left: 5px;
}

.precabecera .portal-transparencia i{
	font-size: 20px;
}
.precabecera .portal-transparencia i:before{
	margin: 0;
}

.cabecera{
	box-shadow: 0 3px 6px #00000029;
}

.cabecera .logo-sedapal{
	width: 80%;
}

.cabecera nav{
	display: inline-block;
    text-align: center;
    height: 100%;
}

.cabecera nav ul{
	list-style: none;
	padding-left: 0;
	height: 100%;
}

.cabecera nav ul li{
    padding: 0 10px;
    font-family: Arial;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    height: 100%;
}

.cabecera nav ul li:before {
    content: "";
    position: absolute;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: #0093D2;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.cabecera nav ul li:hover:before {
    left: 0;
    right: 0;
}

.cabecera nav ul li a{
    color: #0969B1;
    font-size: 15px;
    font-family: Arial;
    font-weight: bold;
    height: 100%;
    display: flex;
    align-items: center;
}

.cabecera nav ul.submenu li:before{
	content: none;
}

.cabecera .col-md-2.text-right{
	display: flex;
    align-items: center;
}

.cabecera input{
	background:transparent;
	border: 1px solid #0969B1;
	border-radius: 25px;
	color: #0969B1;
	font-weight: 400;
	padding: 5px 30px 5px 15px;
	width: 100%;
}

.cabecera form{
	position: relative;
	display: inline-block;
    width: 100%;
}

.cabecera form img{
    width: 15px;
    position: absolute;
    top: 10px;
    right: 8px;
}

.cabecera .menu-hamburguesa{
	cursor: pointer;
}

.cabecera .menu-hamburguesa i:before{
	color:#fff;
	font-size: 50px;
}

.portal-transparencia .texto{
	font-size: 13px;
}

.cabecera{
	background-color: #fff;
	background-repeat: repeat-x;
	background-size: cover;
}

.carrusel-principal{

}

.carrusel-principal .swiper-button-prev,.carrusel-principal .swiper-button-next{
	color: #fff;
}

#progress{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	background-color: #00000047;
	height: 5px;
	z-index: 100;
	transition: .1s;
}

.swiper-pagination-bullet {
	width: 20px;
	height: 20px;
	text-align: center;
	line-height: 20px;
	font-size: 12px;
	color: #000;
	opacity: 1;
	background: rgba(0, 0, 0, 0.2);
}

.swiper-pagination-bullet-active {
  	color: #fff;
   	background: #0093D2;
}

.principal-slide{
	background-image: url(img/slide-sedapal.jpg);
    background-size: cover;
    background-position: top center;
    height: 550px;
}

.principal-slide .container, .principal-slide .row{
	height: 100%;
}

.contenido-principal-slide{
	background: #fff;
    border-radius: 0 0 25px 0;
    padding: 70px 50px 70px 50px;
    position: relative;
    box-shadow: 0 3px 6px #00000029;
}

.contenido-principal-slide span{
	font-family: Arial;
	font-weight: bold;
	text-transform: uppercase;
}

.contenido-principal-slide h3{
	font-family: Arial;
	font-weight: normal;
}

.contenido-principal-slide a{
	font-family: Arial;
	font-weight: bold;
	background: #0969b3;
    color: #fff;
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 0 0 20px 0;
    padding: 5px 25px;
}

.principal-noticias{
	padding: 50px 0 100px 0;
}

.principal-noticias h3{
	font-family: Arial;
	font-weight: bold;
}

.principal-noticias p{
	font-family: Arial;
	font-weight: normal;
}

.principal-noticias .noticia{
	background-size: cover;
	background-position: center;
	height: 250px;
	position: relative;
	border-radius: 0 0 15px 0;
	box-shadow: 0 3px 6px #00000029;

}

.principal-noticias .noticia .titulo{
	font-family: Arial;
	font-weight: normal;
	position: absolute;
	bottom: 0;
	background-color: #fff;
	padding: 15px 20px 30px 20px;
	border-radius: 0 0 15px 0;
	width: 100%;
}

.principal-noticias .noticia .titulo a{
	font-family: Arial;
	font-weight: normal;
	position: absolute;
    bottom: 0;
    right: 0;
    background-color: #0056b3;
    color: #fff;
    border-radius: 0 0 15px 0;
    padding: 3px 25px;
}

.principal{
	display: flex;
	align-items: center;
	padding: 100px 0 0 0;
	/*background-image: url(../img/fondo-cuna.png);*/
	background: rgb(0,105,180);
	background: -webkit-linear-gradient(bottom, rgba(0,105,180,1) 0%, rgba(0,149,212,1) 100%);
	background: -o-linear-gradient(bottom, rgba(0,105,180,1) 0%, rgba(0,149,212,1) 100%);
	background: linear-gradient(to top, rgba(0,105,180,1) 0%, rgba(0,149,212,1) 100%);
	background-repeat: no-repeat;
	background-size: inherit;
	background-position: center bottom;
}

.principal .titulo{
	font-family: Aleo;
	font-style: normal;
	font-weight: bold;
	color: #fff;
}

.principal .titulo h1{
	font-size: 30px;
}

.principal .titulo strong{
	font-size: 45px;
	text-transform: uppercase;
}

.principal .titulo a{
	font-size: 20px;
	text-transform: uppercase;
	color: #fff;
	background-color: #0969b3;
	padding: 10px 30px;
	border-radius: 15px;
}

.principal #noticias-swiper{
	box-shadow: 0 0 25px #3333336e;
}

.principal #noticias-swiper .noticia-destacada{
	background-image: url(../img/placeholder-1024x683.png);
	background-size: cover;
	background-position: center;
	height: 300px;
}

.principal #noticias-swiper .noticia-destacada .titulo{
	font-family: Aleo;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px 20px;
    background: #178bc2c7;
}

.principal .titulo-noticia{
	font-family: Aleo;
	font-style: normal;
	font-weight: bold;
	color: #fff;
}

.principal .subtitulo-noticia{
	border-bottom: 1px solid #fff;
	font-family: Aleo;
	font-style: normal;
	font-weight: bold;
	color: #fff;
	font-size: 20px;
    padding: 5px 15px;
}

.principal .cuadro-noticia{
	background-image: url(../img/placeholder-1024x683.png);
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 200px;
	position: relative;
	box-shadow: 0 0 25px #3333336e;
}

.principal .cuadro-noticia .titulo-noticia{
	position: absolute;
    bottom: 10px;
    left: 15px;
}

.principal a{
	font-family: Aleo;
	font-style: normal;
	font-weight: bold;
	color: #fff;
	font-size: 15px;
}

.principal .col-md-12{
	margin-bottom: 150px;
}

.sedapal-cuadro-icono{
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
}

.sedapal-cuadro-icono span{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 30%;
    width: 50%;
    margin: -35% 0 0 -25%;
    font-size: 75px;
}

.sedapal-cuadro-icono .sepadal-cuadro-img{
	background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    width: 50%;
    height: 50%;
}

.sedapal-cuadro-icono span:before{
	color: #fff;
}

.sedapal-cuadro-icono h4{
    position: absolute;
    top: 50%;
    left: 25%;
    height: 30%;
    width: 100%;
    margin: 10% 0 0 -25%;
    color: #fff;
    font-size: 1.1em;
    text-align: center;
    padding:15px 10px 0 10px;
}

.accesos-rapidos{
	padding: 50px 0;
	background-color: #0093D2;
}

.accesos-rapidos .col-md-12:first-child{
	padding: 0 115px;
}

.accesos-rapidos span.img-accesos-rapidos{
	background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    height: 50%;
    width: 50%;
}

.accesos-rapidos .titulo{
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	color:#fff;
	font-size: 2em;
}

.accesos-rapidos .subtitulo{
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	color:#fff;
	font-size: 1.5em;
}

.accesos-rapidos .accesos-rapidos-enlaces{
	padding: 25px 100px;
}

.accesos-rapidos .accesos-rapidos-enlaces a.sedapal-cuadro-icono{
	display: block;
	border: 2px solid #fff;
	border-radius: 0 0 15px 0;
	width: 100%;
}

a.sedapal-cuadro-icono{
	transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
}

a.sedapal-cuadro-icono:before{
    content: '';
    position: absolute;
    border: #e1e1e1 solid 10px;
    top: -10px;
    right: -10px;
    bottom: -10px;
    left: -10px;
    opacity: 0;
    border-radius: 0 0 15px 0;
    -webkit-animation-duration: .8s;
    animation-duration: .8s;
}

a.sedapal-cuadro-icono:hover:before{
	animation-name: sedapal-ripple-in;
}

.accesos-rapidos .accesos-rapidos-enlaces .img-acceso-rapido{
	background-size: 75%;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
	position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
}

/*.accesos-rapidos .accesos-rapidos-enlaces:before{
	content: '';
    background-image: url(../img/chica1-sedapal.png);
    background-size: cover;
    position: absolute;
    width: 135px;
    height: 216px;
    top: -216px;
    right: 135px;
}*/

.accesos-rapidos .flecha-antes{
    background-image: url(../../img/accesos-rapidos-derecha.png);
	background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 0;
    top: 43%;
    transform: rotate(180deg);
    cursor: pointer;
}

.accesos-rapidos .flecha-despues{
    background-image: url(../../img/accesos-rapidos-derecha.png);
	background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    top: 43%;
    cursor: pointer;
}

.accesos-rapidos .swiper-slide{
	text-align: center;
}

#accesos-rapidos-swiper .swiper-slide{
	padding: 10px;
}

.servicios{
	padding: 100px 0;
	position: relative;
    background: #0969B1;
}

.servicios .servicios-rapido{
	background-size: 75%;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
	position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
}

.servicios .titulo{
	font-family: Arial;
    font-style: normal;
    color: #fff;
    font-size: 38px;
    padding-right: 10px;
    display: inline;
}

.servicios .subtitulo{
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    color: #fff;
    font-size: 25px;
    padding-left: 10px;
    display: inline;
    text-transform: uppercase;
}

.servicios .row .row a{
	box-shadow: 0 0 10px 1px #00000012;
    display: block;
    width: 100%;
    min-height: 150px;
    margin-bottom: 25px;
    position: relative;
	border: 2px solid #fff;
	border-radius: 0 0 15px 0;
}

.servicios .img-servicio{
	background-size: 75%;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
	position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
}

.servicios .row .row img{
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.servicios:before{
    /*content: '';*/
    background-image: url(../../img/gotita-sedapal.png);
    background-size: cover;
    position: absolute;
    top: -120px;
    right: 0;
    width: 590px;
    height: 840px;
}

.cta-sedapal{
	background-image: url(https://sedapal.bonzaiprojects.com/storage/posts/sedapal-1.jpeg);
    background-size: cover;
    background-position: center;
    padding: 10em 0 5em 0;
	position: relative;
}

.cta-sedapal:after {
    content: '';
    background-color: #19191996;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.cta-sedapal .container{
	position: relative;
	z-index: 1;
}

.cta-sedapal h4{
    color: #fff;
    text-align: center;
}

.cta-sedapal h4:first-child{
    font-weight: 600;
}

.cta-sedapal a{
	background-color: #0969B1;
    border-color: #0969B1;
    font-size: .9em;
    padding: .5em 2.5em;
    border-radius: 0;
}

.enlaces-externos{
	padding: 15px 0;
	background-color: #fff;
}

.enlaces-externos .titulo{
	display: block;
    font-family: Arial;
    font-style: normal;
    font-weight: lighter;
    color: #0969B1;
    font-size: 1.5em;
    margin: 0 0 1em 0;
}

.enlaces-externos .enlaces{
	display: block;
	position: relative;
	background-color: #fff;
	border-radius: 5px;
	padding: 16px 45px 15px 45px;
	z-index: 1;
}

.enlaces-externos .enlaces-externos-item{
	height: 82px;
	background-color: #fff;
	background-size: 100% auto;
	background-position: center;
	background-repeat: no-repeat;
}

.subcabecera .breadcrumb{
	background: transparent;
	font-family: Aleo;
	color: #255989;
}

.subcabecera .breadcrumb .breadcrumb-item, .subcabecera .breadcrumb a{
	color: #255989;
	font-family: Arial;
	font-weight: normal;
}

.subcabecera .breadcrumb a{
	font-weight: bold;
}

.subcabecera .breadcrumb-item+.breadcrumb-item::before{
	content: "-";
}

.noticia-principal{
	background-image: url(../img/placeholder-1024x683.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding:250px 0 100px 0;
	position: relative;
}

.noticia-principal:after {
    content: '';
    background-color: rgb(0 0 0 / .7);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.noticia-principal .container{
	position: relative;
	z-index: 1;
}

.noticia-principal .fecha{
	font-family: Arial;
	font-weight: bold;
	font-size: 20px;
	color: #fff;
}

.noticia-principal h1{
	font-family: Arial;
	font-weight: bold;
	font-size: 40px;
	color: #fff;
}

.noticia-principal p{
	font-family: Arial;
	font-size: 20px;
	color: #fff;
}

.noticia-principal p.small{
    font-size: 1em;
}

.noticia-contenido{
	padding: 100px 0 20px 0;
}

.noticias-etiquetas h3{
	font-weight: bold;
	color: #255989;
	font-family: 'PT Sans', sans-serif;
}

.noticias-etiquetas ul{
	padding: 0;
	list-style: none;
}

.noticias-etiquetas li{
	display: inline-block;
	padding: 0 10px;
	border-right: 1px solid #000;
}

.noticias-etiquetas li:first-child{
	padding-left: 0;
}

.noticias-etiquetas li:last-child{
	border-right: none;
}

.noticias-relacionadas{
	padding: 20px 0 50px 0;
}

.noticias-relacionadas h3{
	font-weight: bold;
	color: #255989;
	font-family: 'PT Sans', sans-serif;
}

.noticias-relacionadas .swiper-slide{
}

.noticias-relacionadas .noticia-relacionada{
	height: 150px;
	background-size: cover;
	background-position: center;
}

.noticias-relacionadas .noticia-relacionada .titulo{
	color:#fff;
	position: absolute;
    bottom: 0;
    padding: 10px;
    font-family: 'PT Sans', sans-serif;
    z-index: 1;
}

.noticia-relacionada:after {
    content: '';
    background: #000000b3;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.noticia-contenido * {
    white-space: normal !important;
}

.noticia-contenido iframe{
    width: 100%;
}

.noticia-contenido h2{
	font-size: 35px;
	font-family: 'PT Sans', sans-serif;
	font-weight: bold;
	color: #255989;
	margin-bottom: 25px;
}

.noticia-contenido h3{
	font-size: 25px;
	font-family: 'PT Sans', sans-serif;
	font-weight: bold;
	color: #255989;
}

.noticia-contenido p{
	font-family: 'PT Sans', sans-serif;
}

.noticia-contenido strong{
	font-family: 'PT Sans', sans-serif;
}

.pagina-principal{
	background-image: url(../img/placeholder-1024x683.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding:300px 0 50px 0;
	position: relative;
}

.pagina-principal:after{
	content: '';
    background-color: rgb(0 0 0 / .7);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.pagina-principal .container {
    position: relative;
    z-index: 1;
}

.pagina-principal h1{
	font-weight: bold;
	font-size: 50px;
	color: #fff;
}

.pagina-principal p{
	font-size: 15px;
	color: #fff;
}

.pagina-contenido{
	padding: 100px 0;
}

.pagina-contenido *{
    white-space: normal !important;
}

.pagina-contenido iframe{
    width: 100%;
}

.pagina-contenido h2{
	font-size: 35px;
	font-weight: bold;
	color: #255989;
	margin-bottom: 25px;
	font-family: 'PT Sans', sans-serif;
	font-weight: bold;
}

.pagina-contenido h3{
	font-size: 25px;
	font-weight: bold;
	color: #255989;
	font-family: 'PT Sans', sans-serif;
	font-weight: bold;
}

.pagina-contenido p{
	font-family: 'PT Sans', sans-serif;
}

.pagina-contenido strong{
	font-family: 'PT Sans', sans-serif;
}

.noticias-cat .principal-noticias{
    padding: 100px 0 150px 0;
}

.nav-paginacion{
	margin: auto;
}

.compartir-social span{
	font-family: Arial;
	color: #255989;
    font-size: 15px;
}

.compartir-social a{
	color: #255989;
	font-size: 30px;
}

.encuesta-principal{
	border-top: solid 1px #004d81;
}

.encuesta-principal h1{
	font-size: 1.5em;
    text-align: center;
    padding: 2.5em 0;
}

.encuesta-contenido{
	padding: 2em 0;
}

article form{
    max-width: 90%;
    margin: 2em auto;
    padding: 2em;
    border: 1px solid #0969B1;
    border-radius: 10px;
}

form.sedapal-formulario{
	max-width: 90%;
    margin: 2em auto;
    padding: 2em;
    border: 1px solid #0969B1;
    border-radius: 10px;
}

.form-group label{
	color:#0969B1;
	font-weight: bold;
}

.form-check label{
	color:#0969B1;
}

.form-check-inline{
	display: block;
}

textarea.form-control{
	padding: 1em;
}

textarea.form-control::placeholder{
	color: #0969B1;
}

button[type=submit], form a.btn.btn-primary{
	background: #0969B1;
    border: none;
    padding: .4em 3em;
    font-weight: bold;
}

.footer{
	background-color: #0093d2;
	font-family: Aleo;
	color: #fff;
	padding: 100px 0 50px 0;
}

.footer .menu{
	height: 100%;
	position: relative;
}

.footer h4{
	font-family: Arial;
	font-weight: bold;
	font-size: 1.1em;
	border-top: 1px solid #fff;
    padding: .3em 0 0 0;
}

.footer h4:first-child{
	border-top: none;
}

.footer .contenido-menu li{
	list-style: none;
}

.footer .contenido-menu a{
	font-family: Arial;
	font-size: 1.2em;
}

.footer img{
	width: 50%;
}

.footer a{
	color: #fff;
}

.footer ul{
    padding-left: 20px;
}

.footer ul li{
	font-size: 13px;
	font-family: Arial;
	font-weight: normal;
}

.subfooter{
	border-top: 1px solid #fff;
}

.subfooter .col-md-4{
}

.subfooter .col-md-4:nth-child(1){
	text-align: left;
}

.subfooter .col-md-4:nth-child(2){
	text-align: center;
}

.subfooter .col-md-4:nth-child(3){
	text-align: right;
}

.subfooter .aquafono .texto{
	font-size: 15px;
	line-height: 25px;
	display: inline;
	vertical-align: middle;
}

.subfooter .aquafono .numero{
	font-size: 20px;
	font-weight: bold;
	display: inline;
	vertical-align: middle;
}

.subfooter .social-sepadal{
	display: inline-block;
}

.subfooter .social-sepadal a{
	display: contents;
}

.subfooter .social-sepadal i{
	font-size: 30px;
}

.libro-reclamaciones h4{
	border: none;
}

.sedapal-chat{
	position: fixed;
    right: 25px;
    bottom: 20px;
    width: 62px;
    z-index: 1000;
    display: block;
    background-color: #0093D2;
    border-radius: 30px 20px 0 30px;
    min-width: 250px;
    box-shadow: 0 3px 6px #00000029;
    padding: .8em 1em;
}

.sedapal-chat span:first-child{
	color: #fff;
    display: block;
    font-weight: bold;
    font-size: .9em;
}

.sedapal-chat span:last-child{
	color: #fff;
    font-size: .7em;
}

/* 404 */
.pagina-404{
	padding: 10em 0 0 0;
	color: #0969B1;
}

.pagina-404:before{
    content: '';
    background-image: url(../../img/gotita-sedapal.png);
    background-size: cover;
    position: absolute;
	top: 110px;
    right: 0;
    width: 400px;
    height: 550px;
}

.pagina-404 h1{
	font-weight: bold;
    text-align: center;
    font-size: 5em;
}

.pagina-404 p{
	font-size: 1.2em;
}

/*PopUp*/
.popup{
	max-width: 650px;
	max-height: 650px;
	position: absolute;
	left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 99999;
    border:3px solid #157FCE;
}

.popup img{
	width: 100%;
	height: auto;
}

.popup #cerrar-popup{
	position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    background: #C43C3C;
    line-height: 1;
    padding: 3px 9px;
    border-radius: 3px;
    margin: 5px;
    cursor: pointer;
}

/*Resultado*/
.resultados{
	padding:100px 0;
}

.resultados h1{
	font-size: 1.2em;
	font-weight: bold;
	color: #0969B1;
	margin-bottom: 1em;
}

.resultados-contenedor{
	padding: 50px 0;
}

.resultados-contenedor h3{
	font-size: 1.2em;
	font-weight: bold;
	color: #373A3B;
	margin-bottom: 1em;
}

.resultados-contenedor p{
	color: #373A3B;
}

.resultados-contenedor a{
	color: #0969B1;
	font-weight: bold;
}

.resultado-item{
	border-bottom: 1px solid #bdbdbd;
    padding: 2em 0;
}

.resultado-item:last-child{
	border-bottom: none;
}

.page-link{
	background: #0969B1;
    color: #fff;
    border: 2px solid #fff;
}

/*
	Responsive
*/
/*Very extra small devices (portrait phones, less than 350px)*/
@media (max-width: 370px) {
    .accesos-rapidos .sedapal-cuadro-icono h4{
        font-size: 0.7em !important;
        margin: 5% 0 0 -25% !important;
    }

    .servicios .sedapal-cuadro-icono h4 {
        font-size: 0.7em !important;
        margin: 5% 0 0 -25% !important;
    }

    .servicios .sedapal-cuadro-icono span {
        top: 45%;
    }
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
	.accesos-rapidos .accesos-rapidos-enlaces {
	    padding: 1em 1em !important;
	}

	.sedapal-cuadro-icono h4 {
	    font-size: 0.9em !important;
	    margin: 10% 0 0 -25% !important;
	}
}

/*Small devices (landscape phones, 576px and up)*/
@media (max-width: 767.98px) {
	/*Ocultar en moviles*/
	.ocultar-movil{
		display: none !important;
	}

	/*Precabecera*/
	.precabecera .col-12{
		text-align: center;
	}

	.precabecera .col-6:first-child{
		text-align: right;
	}
	.precabecera .col-6:last-child{
		text-align: left;
	}

	/*Cabecera*/
	.cabecera .col-6:first-child img{
		max-width: 100px;
	}
	.cabecera .col-6:last-child{
		text-align: right !important;
	}
	.cabecera .col-6:last-child img{
		max-width: 70px;
	}

	.cabecera{
		background-color: #fff;
	}

	.principal-noticias .col-md-4:last-child{
		display: none;
	}

	.principal-noticias .noticia .titulo{
	    font-size: 1.2em;
	    padding: 15px 25px 35px 25px;
	}

	.principal-noticias .noticia{
	    height: 350px;
	}

	/*Principal*/
	.sedapal .principal .cuadro-noticia{
		height: 100px;
		font-size: 10px;
	}

	.principal .row div:nth-child(5){
		display: none;
	}

	.principal #noticias-swiper{
		margin:50px 0 0 0;
	}

	/*Accesos rapidos*/
	.accesos-rapidos{
	}

	.accesos-rapidos .titulo{
		font-size: 25px;
		padding-right: 5px;
		border-right: none;
	}

	.accesos-rapidos .subtitulo{
		font-size: 15px;
		padding-left: 5px;
	}

	.accesos-rapidos .accesos-rapidos-enlaces{
		padding: 15px 50px;
	}

	.accesos-rapidos .accesos-rapidos-enlaces:before {

	}

	.accesos-rapidos .flecha-antes{
		left: 0;
	}

	.accesos-rapidos .flecha-despues{
		right: 0;
	}

	.accesos-rapidos .col-md-12:first-child{
		padding-right: 15px;
    	padding-left: 15px;
	}

	.sedapal-cuadro-icono span {
	    font-size: 50px;
	}

	.sedapal-cuadro-icono h4{
		font-size: 0.9em;
		margin: 8% 0 0 -25%;
	}

	.servicios .sedapal-cuadro-icono span {
	    font-size: 65px;
	}

	.servicios .sedapal-cuadro-icono h4{
		font-size: 1.1em;
	}

	/*Servicios*/
	.servicios{
		padding: 50px 0 0 0;
	}

	.servicios:before {
	    top: -90px;
	    right: 0;
	    width: 150px;
	    height: 200px;
	}

	.servicios .row.mb-5.pb-5{
		padding-bottom: 0!important;
	}

	.servicios .titulo{
		font-size: 25px;
	}

	.servicios .subtitulo{
		font-size: 15px;
		display: block;
    	padding: 0;
	}

	.servicios .col-md-9 .mt-4{
		padding-left: 0!important;
	}

	.servicios .col-md-12{
		padding-right: 15px;
    	padding-left: 15px;
	}

	/*Enlaces interes*/
	.enlaces-externos{
		padding: 50px 0;
	}

	.enlaces-externos .titulo{
		margin-left: 0;
		text-align: center;
	}
	.enlaces-externos .enlaces{
		padding: 5px 5px 5px 5px;
	}
	.enlaces-externos .enlaces:before{
		width: 50px;
	    height: 90px;
	    top: -61px;
	    left: 0px;
	}

	.enlaces-externos .titulo:after{
		width: 80px;
	    height: 130px;
	    top: -7px;
	    left: 6px;
	}

	.noticia-principal{
		padding: 50px 0 20px 0;
	}

	.noticia-principal span{
		font-size: 1em;
	}

	.noticia-principal h1{
		font-size: 2em;
    	padding-left: 0 !important;
	}

	.noticia-principal p{
		font-size: 1em;
    	padding-left: 0!important;
	}

	.noticia-contenido{
		padding: 20px 0 0 0;
	}

	.noticias-relacionadas{
		padding: 20px 0 50px 0;
	}

	.pagina-principal{
		text-align: center;
    	min-height: 250px;
    	padding: 0;
    	display: flex;
    	align-items: center;
	}

	.pagina-principal h1{
		font-size: 2em;
    	padding-left: 0 !important;
	}

	.pagina-principal p{
		font-size: 1em;
    	padding-left: 0!important;
	}

	.pagina-contenido{
		padding: 20px 0 50px 0;
	}

	.pagina-contenido p{
		padding-left: 0;
	}

	.compartir-social{
		text-align: center;
	}

	.compartir-social span{
		display: none;
	}

    article form{
        max-width: 100%;
    }

	form.sedapal-formulario{
		max-width: 100%;
	}

	.sedapal-chat{
		right: 10px;
    	bottom: 10px;
    	min-width: 100px;
    	padding: .7em;
    	border-radius: 20px 10px 0 20px;
	}

	.sedapal-chat span:first-child{
	    font-size: .8em;
	    line-height: 1.2;
	    margin-bottom: .2em;
	}

	.sedapal-chat span:last-child{
	    font-size: .6em;
   		display: block;
	}

    .sedapal-chat .col-12.col-md-4{
        padding-left: 0;
    }

	/*Footer*/
	.footer{
		padding: 50px 0 25px 0;
	}

	.footer .menu h4:after{
	    content: '';
	    background-image: url(/img/flecha-desplegable.png);
	    background-size: cover;
	    background-position: center;
	    width: 10px;
	    height: 20px;
	    top: 5px;
	    right: 10px;
	    position: absolute;
	    transform: rotate(90deg);
	}

	.footer .menu h4.abierto:after{
		transform: rotate(-90deg);
	}

	.footer .col-md-4.mb-5{
		margin-bottom: 1rem!important;
	}

	.footer img{
		width: 25%;
		margin-top: 1em;
	}

	.subfooter .col-md-4{
		text-align: center !important;
	}

	.libro-reclamaciones h4{
		border: none;
    	font-size: 1em;
	}

	.sedapal-creditos{
		margin: 1.5em 0 0 0;
	}

	/*404*/
	.pagina-404:before{
		content: none;
	}

	/*Popup*/
	.popup{
		min-width: 90%;
		min-height: auto;
	}

	/*Menu*/
	.menu-fullpage #cerrar-menu{
		font-size: 3em;
		margin-bottom: .2em !important;
	}

	.menu-fullpage h2,.menu-fullpage h3{
    	font-size: 30px;
	}

	.menu-fullpage h2{
    	margin-top: 30px;
	}

	.menu-fullpage li {
    	font-size: 18px;
	}

	.menu-fullpage .sedapal-cuadro-icono span{
		font-size: 40px;
	}

	.menu-fullpage .sedapal-cuadro-icono h4{
		font-size: 0.7em;
	}

}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	.servicios:before{
	    top: -40px;
	    right: 0;
	    width: 300px;
	    height: 390px;
	}
	.pagina-404:before{
		content: none;
	}

	.ocultar-escritorio{
		display: none !important;
	}
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
	.servicios:before{
	    top: -40px;
	    right: 0;
	    width: 300px;
	    height: 390px;
	}
	.ocultar-escritorio{
		display: none !important;
	}
}

@media (min-width: 1200px) and (max-width: 1600px){
	.servicios:before{
		width: 30%;
    	height: 55%;
	}
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	.ocultar-escritorio{
		display: none !important;
	}

	.servicios .col-md-12 {
	    padding: 0 115px;
	}

	.sedapal-cuadro-icono h4 {
	    position: absolute;
	    top: 50%;
	    left: 25%;
	    height: 30%;
	    width: 100%;
	    margin: 15% 0 0 -25%;
	    color: #fff;
	    font-size: 1.1em;
	    text-align: center;
	    padding: 15px 10px 0 10px;
	}

}

/* Media Queries personalizadas */
@media (max-width: 989px) and (min-width: 768px) {
	.sedapal-cuadro-icono span {
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    height: 30%;
	    width: 50%;
	    margin: -35% 0 0 -20%;
	    font-size: 75px;
	}

	.sedapal-cuadro-icono .sepadal-cuadro-img {
	    background-size: cover;
	    background-position: center;
	    width: 40%;
	    height: 40%;
	}

	.sedapal-cuadro-icono h4{
		margin: 10% 0 0 -25%;
		padding: 10px 10px 0 10px;
	}
}

@media (max-width: 995px) and (min-width: 768px) {
	.cabecera .col-md-8{
		padding-left: 0;
    	padding-right: 0;
	}

	.cabecera nav ul li{
		margin: 0 .5em;
	}

	.cabecera nav ul li a{
		font-size: .7em;
	}

	.cabecera input{
		transform: scaleX(0);
	    transform-origin: right;
	    transition: .5s all;
	}

	.cabecera input::placeholder{
		color: transparent;
	}

	.cabecera form input:placeholder-shown {
		transform: scaleX(0);
	}

	.cabecera form input:not(:placeholder-shown) {
		transform: scaleX(1);
	}

	.cabecera form:hover input{
		transform: scaleX(1);
	}

	.cabecera .row .col-md-2.ocultar-movil{
		padding-left: 0;
    	padding-right: 0;
	}
}

@media (max-width: 1200px) and (min-width: 996px) {
	.cabecera nav ul li a{

	}
}

/* Keyframes */
@keyframes sedapal-ripple-in {
  100% {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 1;
    border: #e1e1e1 solid 1px;
  }
}

@font-face {
  font-family: 'sedapal';
  src: url('../../font/sedapal.eot?87271812');
  src: url('../../font/sedapal.eot?87271812#iefix') format('embedded-opentype'),
       url('../../font/sedapal.woff2?87271812') format('woff2'),
       url('../../font/sedapal.woff?87271812') format('woff'),
       url('../../font/sedapal.ttf?87271812') format('truetype'),
       url('../../font/sedapal.svg?87271812#sedapal') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'sedapal';
    src: url('../font/sedapal.svg?87271812#sedapal') format('svg');
  }
}
*/

 [class^="sepapal-"]:before, [class*=" sepapal-"]:before {
  font-family: "sedapal";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.sepapal-menu:before { content: '\e800'; } /* '' */
.sepapal-whatsapp:before { content: '\e801'; } /* '' */
.sepapal-youtube:before { content: '\e802'; } /* '' */
.sepapal-facebook:before { content: '\e803'; } /* '' */
.sepapal-linkedin:before { content: '\e804'; } /* '' */
.sepapal-lupa:before { content: '\e805'; } /* '' */
.sepapal-lupa-inv:before { content: '\e806'; } /* '' */
.sepapal-twitter:before { content: '\f30a'; } /* '' */
@font-face {
  font-family: 'sedapaluser';
  src:  url('../font/sedapaluser.eot?n3pjo0');
  src:  url('../font/sedapaluser.eot?n3pjo0#iefix') format('embedded-opentype'),
    url('../font/sedapaluser.ttf?n3pjo0') format('truetype'),
    url('../font/sedapaluser.woff?n3pjo0') format('woff'),
    url('../font/sedapaluser.svg?n3pjo0#sedapaluser') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="sedapaluser-"], [class*=" sedapaluser-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'sedapaluser' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sedapaluser-GIS:before {
  content: "\e900";
  color: #084f80;
}
.sedapaluser-integracion:before {
  content: "\61";
  color: #084f80;
}
.sedapaluser-reclutamiento:before {
  content: "\7a";
  color: #084f80;
}
.sedapaluser-repositorio:before {
  content: "\66";
  color: #084f80;
}
.sedapaluser-solicitud:before {
  content: "\73";
  color: #084f80;
}
.sedapaluser-tramite:before {
  content: "\67";
  color: #084f80;
}
.sedapaluser-busqueda-usuario:before {
  content: "\71";
  color: #084f80;
}
.sedapaluser-certificado:before {
  content: "\79";
  color: #084f80;
}
.sedapaluser-comprobante:before {
  content: "\31";
  color: #084f80;
}
.sedapaluser-fontanero:before {
  content: "\77";
  color: #084f80;
}
.sedapaluser-clarita:before {
  content: "\64";
  color: #084f80;
}
.sedapaluser-financiamiento:before {
  content: "\32";
  color: #084f80;
}
.sedapaluser-recibo:before {
  content: "\33";
  color: #084f80;
}
.sedapaluser-restriccin:before {
  content: "\34";
  color: #084f80;
}
.sedapaluser-sedapal-movil:before {
  content: "\35";
  color: #084f80;
}
.sedapaluser-aquafono:before {
  content: "\36";
  color: #084f80;
}
.sedapaluser-aquanet:before {
  content: "\37";
  color: #084f80;
}
.sedapaluser-centros:before {
  content: "\65";
  color: #084f80;
}
